* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.card1 {
  width: 610px;
  height: 200px;
  background-color: white;
  display: flex;
  gap: 30px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: 5px 5px 15px rgba(255, 5, 5, 0.4);
  border-radius: 20px;
}

.card-container {
  display: flex;
  background: #f5f5f5;
  gap: 10px;
  box-shadow: 5px 5px 15px rgba(15, 222, 157, 0.4);
  border-radius: 20px;
  padding: 10px;
}

img {
  width: 200px;
  height: 180px;
}

.card2,
.card3,
.card4 {
  width: 200px;
  height: 300px;
  text-align: center;

}
